@use 'variables' as *;
@use "sass:map";
@use 'globals' as *;

.page-content-main__article {
  display: grid;
  grid-template-columns: 1fr 315px;
  gap: $spacing-4;
  width: 100%;

  .esprit-aside {
    width: 315px;
  }

  @media (max-width: 991.98px) {
    & {
      grid-template-columns: 1fr;
    }

    .es-page-content {}

    .esprit-aside {
      width: 100%;
    }
  }

  &.hide-sidebar {

    .esprit-article-info {
      display: flex;
      column-gap: $spacing-5;
      flex-wrap: wrap;

      &__author-wrapper {
        width: 100%;
      }

      &__divider {
        width: 100%;
      }
    }

    .esprit-article-accessibility {
      display: none;
    }

    .esprit-aside {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.es-article-tools {

  z-index: 99;
  background: $blue-gray-100;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);
  border: 1px solid $blue-gray-200;
  min-width: 300px;
  max-height: 100%;

}

.esprit-article-tools {
  display: none;
  align-items: center;
  margin-top: $spacing-3;
  gap: $spacing-2;
  // background-color: $blue-gray-100;
  border-radius: $radius-default;

  &.show {
    display: flex;
  }

  .esprit-article-accessibility__button {
    background-color: $blue-gray-100;
  }

  .tts__container {
    // background: none;
    // border: none;
  }


  .tts__container {
    flex-grow: 1;

    .plyr__volume {
      @include respond-to(xs) {
        display: none;
      }

    }
  }

  .esprit-article-shortlink {
    margin-top: 0;
  }

  .esprit-article-accessibility__controls {
    margin-top: $spacing-3;
  }

  &__actions {
    position: relative;
  }

  // tool box 
  .es-article-tools {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
    pointer-events: none;
  }

  /* وقتی باز شد */
  .es-article-tools.active {
    max-height: 500px;
    /* یا هر مقداری که مطمئنی از محتوای واقعی بزرگتره */
    opacity: 1;
    pointer-events: all;
  }

  // share box 

  &__share {
    position: relative;
  }

  .es-article-share {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
    width: max-content;
    pointer-events: none;

    .esprit-article-share {
      margin-top: 0;

      &__title {
        display: none;
      }
    }
  }

  /* وقتی باز شد */
  .es-article-share.active {
    max-height: 500px;
    /* یا هر مقداری که مطمئنی از محتوای واقعی بزرگتره */
    opacity: 1;
    pointer-events: all;
  }

}