@use 'variables' as *;
@use 'colors' as *;

@mixin iconButton {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;

    &:hover,
    &.active {
        background: $blue-gray-600;
        box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
        color: #FFFFFF;
    }
}

@mixin sideBox {
    background: #FFFFFF;
    border: 1px solid $gray-200;
    border-radius: $radius-default;
}