/**
 * Gallery Categories Page Styles
 * Main SCSS entry for gallery categories module
 */

// Import common base styles
@use './common/base/variables' as *;
@use './common/base/mixins';
@use './common/base/colors' as *;
@use './common/esfonticon/style';

// Import common components
@use './common/components/pagination';

// Gallery page specific styles
@use './gallery/container';
@use './gallery-categories/header';
@use './gallery-categories/grid';
