/**
 * Profile Module Styles
 * Main SCSS file for profile module
 */
// Import common base styles
@use './common/base/variables' as *;
@use './common/base/mixins';
@use './common/base/colors' as *;
@use './common/esfonticon/style';
@use './common/components/form';
@use './common/components/section-title';
@use './common/components/pagination';

// Import profile-specific styles
@use './profile/dashboard';
@use './profile/edit';
@use './profile/details';
