@use "sass:map";
@use '../../common/base/globals' as *;

.esprit-article-info {
    @include sideBox;
    padding: 12px;
    margin-top: 12px;

    &__author-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-bottom: $spacing-3;
        border-bottom: 1px solid $blue-gray-200;
        margin-bottom: $spacing-3;
    }

    &__author-img {
        border-radius: 50%;
        object-fit: cover;
    }

    &__author-label {
        font-size: map.get($text-sizes, 14);
        font-weight: $text-bold;
        display: block;
    }

    &__author-value {
        font-size: map.get($text-sizes, 14);
        font-weight: $text-medium;
        display: block;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: $spacing-1;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__label {
        color: $gray-700;
        font-size: map.get($text-sizes, 14);
        font-weight: $text-medium;
    }

    &__value {
        flex-grow: 1;
        text-align: end;
        color: $gray-700;
        font-size: map.get($text-sizes, 14);
        font-weight: $text-regular;
    }

    &__divider {
        height: 0;
        border-bottom: 1px dashed $gray-300;
        margin-bottom: 12px;
    }
}