@use "sass:map";
@use '../../common/base/globals' as *;


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.esprit-article-related-content {
    @include sideBox;
    padding: 12px;
    margin-top: 12px;
    position: relative;

    &__alert {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgba(113, 118, 128, 0.1);
        position: absolute;
        top: 12px;
        inset-inline-end: 12px;
        animation: pulse 2s infinite;

        &::after {
            content: "";
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid rgba(113, 118, 128, 0.3);
            position: absolute;
            top: 3px;
            left: 3px;
            animation: pulse 2s infinite;
        }

        i {
            color: $gray-500;
            font-size: 20px;
            animation: pulse 2s infinite;
        }
    }

    &__title {
        font-size: map.get($text-sizes, 14);
        font-weight: $text-medium;
        color: $gray-700;
        margin: 0;
    }

    &__description {
        font-size: map.get($text-sizes, 14);
        font-weight: $text-regular;
        color: $gray-600;
        margin: 0;
        padding-inline-end: 68px;
    }

    &__list {
        padding: 0;
        list-style: none;
        margin-top: $spacing-3;
        margin-bottom: 0;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: $spacing-3;
        }

        &-title {
            flex-grow: 1;
            color: $gray-700;
            font-weight: $text-medium;
            font-size: map.get($text-sizes, 14);
        }

        &-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: $gray-100;
            color: $gray-500;
            font-size: map.get($text-sizes, 12);

        }

        &-icon {
            color: $gray-500;
            font-size: map.get($text-sizes, 20);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: $spacing-1;

        * {
            transition: $transition;
        }

        &:hover {

            .esprit-article-related-content {
                &__item {
                    &-title {
                        color: $blue-gray-600;
                    }

                    &-arrow {
                        background: $blue-gray-600;
                        color: #ffffff;
                    }

                    &-icon {
                        color: $blue-gray-600;
                    }
                }
            }

        }
    }

}

[dir=ltr] {
    .esprit-article-related-content {
        &__item-arrow {
            transform: scale(-1);
        }
    }
}