@use "sass:map";
@use '../../common/base/globals' as *;

.tts {
    &__container {
        background: $gray-50;
        border: 1px solid $gray-200;
        border-radius: $spacing-1;

        .plyr--audio {
            .plyr__controls {
                background: none;
                border-radius: $spacing-1;
                color: $gray-500;
                padding: $spacing-1;
            }
        }
    }
}