# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prettier configuration file
.prettierrc.json

# Server-specific configuration files
config/settings.json

# Environment files (keep .env.example in git)
.env
.env.local
.env.production.local


# Sass compiled files
src/assets/css/*.css
src/assets/css/*.map

# Sass compiled files
src/assets/scss/css/*.css
src/assets/scss/css/*.map
src/assets/scss/common/css/*.css
src/assets/scss/common/css/*.map