/**
 * General Module Main Styles
 * Imports all general components
 */

// Import common base styles
@use '../common/base/variables' as *;
@use '../common/base/mixins';
@use '../common/base/colors' as *;
@use '../common/components/form';  // For .nes-btn

// Import general module components
@use './not-found';
@use './not-found-creative';

// Future pages:
// @use './500';
// @use './maintenance';
