// News Module Main SCSS
// Import common base styles
@use '../common/base/variables' as *;
@use '../common/base/mixins';
@use '../common/base/reset';
@use '../common/base/colors' as *;
@use '../common/esfonticon/style';

// Import news-specific layout
@use './layout';

// Import common components
@use '../common/components/gallery';
@use '../common/components/modal';
@use '../common/components/form';

// Import news-specific components
@use './components/article';
@use './components/sidebar';
@use './components/accessibilityControls';
@use './components/articleContent';
@use './components/articleHeader';
@use './components/articleInfo';
@use './components/articleMetadata';
@use './components/articleTags';
@use './components/articleDownloadable';
@use './components/actions';
@use './components/relatedContent';
@use './components/relatedNews';
@use './components/sharing';
@use './components/shortLink';
@use './components/soundList';
@use './components/tts';
@use './components/videoList';
@use './components/voteReviews';
@use './components/readingMode';
