@use 'sidebar';

.page-content-main__article {
  display: grid;
  grid-template-columns: 1fr 315px;
  gap: 24px;
  width: 100%;

  .esprit-article {
    max-width: 100%;

    //downloadable-files style
    &__downloadable-files {}

    &__file-list {}

    &__file-item {}

    &__file-link {}
  }

  .esprit-aside {
    width: 315px;
  }

  @media (max-width: 991.98px) {
    & {
      grid-template-columns: 1fr;
    }

    .esprit-aside {
      width: 100%;
    }
  }
}