@use "sass:map";
@use '../globals' as *;

.esprit-article {
    font-size: 1em;

    &__image-wrapper {
        float: left;
        border-radius: $spacing-1;
        overflow: hidden;
        width: 44%;
        max-width: 396px;
        aspect-ratio: 396/264;
        box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);
        margin: 0 24px 24px 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respond-to(xs) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__paragraph {
        text-align: justify;
        color: $gray-900;
        font-size: map.get($text-sizes, 16);
        font-weight: $text-regular;

        @include respond-to(xs) {
            font-size: map.get($text-sizes, 14);
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: map.get($text-sizes, 16);
            font-weight: $text-bold;

            @include respond-to(xs) {
                font-size: map.get($text-sizes, 14);
            }
        }

        a {
            text-decoration: underline;
            color: $gray-900;
            transition: $transition;

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}