 @use '../globals' as *;

 .lg-outer {
     direction: ltr;
 }

 .esprit-article {

     &__gallery {
         visibility: hidden;
         height: 0;
         opacity: 0;
         transition: opacity 0.6s ease-in;
         pointer-events: none;

         &.is-visible {
             opacity: 1;
             pointer-events: auto;
         }
     }

     &__gallery-item {
         border-radius: $radius-default;
         overflow: hidden;

         &::after {
             content: "";
             position: absolute;
             width: 100%;
             height: 100%;
             background: linear-gradient(0deg, rgba(41, 48, 86, 0.7), rgba(41, 48, 86, 0.7));
             z-index: 1;
             top: 0;
             left: 0;
             opacity: 0;
             pointer-events: none;
             transition: $transition;
         }

         &:hover {
             &::after {
                 opacity: 1;
             }

             .esprit-article__gallery-icon {
                 opacity: 1;
             }

             .esprit-article__gallery-caption {
                 background: transparent;
             }
         }
     }

     &__gallery-image {
         max-width: 100%;
     }

     &__gallery-caption {
         position: absolute;
         bottom: 0;
         left: 0;
         color: #ffffff;
         z-index: 1;
         width: 100%;
         display: block;
         padding: $spacing-1;
         font-size: 0.875em;
         background: rgba(41, 48, 86, 0.7);
         text-align: start;
         transition: $transition;
         z-index: 5;
     }

     &__gallery-icon {
         font-size: 32px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 2;
         color: #ffffff;
         opacity: 0;
         pointer-events: none;
         transition: $transition;
     }
 }


 .gallery-loader {
     position: relative;
     width: 100%;
     text-align: center;
     padding: 20px;
     font-size: 1rem;
     color: #555;

     .spinner {
         width: 40px;
         height: 40px;
         border: 4px solid #ccc;
         border-top-color: #333;
         border-radius: 50%;
         animation: spin 1s linear infinite;
         margin: 0 auto;
     }
 }

 @keyframes spin {
     to {
         transform: rotate(360deg);
     }
 }