@use "sass:map";
@use '../globals' as *;

.esprit-article-shortlink {
    @include sideBox;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-inline-start: 4px;
    padding-inline-end: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    * {
        transition: $transition;
    }

    &__link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 14px;
        gap: $spacing-1;
        background: $blue-gray-100;
        color: $blue-gray-600;
        border: 1px solid $blue-gray-100;
        box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
        border-radius: 6px;
        cursor: pointer;
        font-size: map.get($text-sizes, 14);
        font-weight: $text-medium;
        position: relative;

        &:hover {
            background: $blue-gray-600;
            border: 1px solid $blue-gray-600;
            box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
            color: #FFFFFF;
        }

    }

    &__link-icon {
        display: flex;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1px;
    }

    &__action {
        @include iconButton;
        font-size: 20px;
        width: 36px;
        height: 36px;
    }

    &__alert {
        position: absolute;
        z-index: 100;
        top: 100%;
        display: flex;
        align-items: center;
        gap: $spacing-1;
        justify-content: center;
        padding: 8px 12px;
        background: $blue-gray-700;
        color: #ffffff;
        border-radius: $spacing-1;
        min-width: 48px;
        font-size: map.get($text-sizes, 12);
        font-weight: $text-regular;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 6px solid $blue-gray-700;
            position: absolute;
            left: 50%;
            top: -5px;
            transform: translateX(-50%);

        }

        &.show {
            visibility: visible;
            opacity: 1;

        }

        &.error {
            background: $error-700;

            &::after {
                border-bottom: 6px solid $error-700;
            }
        }
    }
}