@use '../globals' as *;

.esprit-aside {
    margin: $spacing-2 0;
    padding: $spacing-2 0;
    top: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}