@use "sass:map";
@use '../globals' as *;

.esprit-article {
    &__sounds-container {
        margin: $spacing-4 $spacing-4 0;
        border-radius: $radius-default;
        background: $blue-gray-200;
        padding-top: $spacing-1;
        padding-bottom: $spacing-4;
    }

    &__sound-player {
        margin: 0 $spacing-1;

        .plyr--audio {
            .plyr__controls {
                padding: $spacing-1;
                color: $gray-500;
                border-radius: $radius-default;
            }
        }
    }

    &__sound-list {
        margin-top: $spacing-4;
        padding: 0 $spacing-4;
    }

}

.sound-list {
    &__item {
        display: flex;
        align-items: center;
        gap: $spacing-1;
        color: $blue-gray-800;
        cursor: pointer;

        * {
            transition: $transition;
        }

        i {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: $spacing-2;
        }

        &:hover {
            color: $link-hover-color;
        }

        &.active {
            color: $link-hover-color;
        }

    }

    &__title {
        font-size: map.get($text-sizes, 16);
        font-weight: $text-regular;
    }
}