@use "sass:map";
@use '../globals' as *;


.esprit-article {
    &__video-player {
        padding: 0 $spacing-4;
        margin-top: $spacing-4;
        max-width: 100%;

        .video-player__container {
            border-radius: $radius-default;
            overflow: hidden;
        }
    }

    &__video-list {
        margin-top: $spacing-3;
        padding: 0 $spacing-4;
        max-width: 100%;
    }
}

.video-list {

    &__container {
        max-width: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 122px;
            height: 100%;
            background: linear-gradient(270deg, rgba(234, 236, 245, 0) 0%, #EAECF5 100%);
            z-index: 1;
            pointer-events: none;
            transition: $transition;
        }

        &:hover {
            &::after {
                opacity: 0;
            }
        }
    }

    &__scroll {
        display: flex;
        gap: $spacing-2;
        overflow: hidden;
        max-width: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: $spacing-1;
        width: 368px;
        cursor: pointer;
        flex-shrink: 0;

        @include respond-to(xs) {
            width: 270px;
        }

        &:hover {
            .video-list__title {
                color: $link-hover-color;
            }
        }

        &.active {
            .video-list__title {
                color: $link-hover-color;
            }
        }
    }

    &__img {
        border-radius: $radius-default;
        overflow: hidden;
        position: relative;
        width: 110px;
        height: 73px;
        flex-shrink: 0;

        i {
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1.5px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__subtitle {
        color: $blue-gray-600;
        font-size: map.get($text-sizes, 12);
        font-weight: $text-regular;
        display: flex;
        align-items: center;
        gap: $spacing-1;

        i {
            font-size: 10px;
        }
    }

    &__title {
        @include lineClamp(2);
        color: $blue-gray-800;
        font-size: map.get($text-sizes, 16);
        font-weight: $text-regular;
        transition: $transition;
    }
}