/* Error: Undefined variable.
 *   ,
 * 5 |   src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ron46o') format('truetype'),
 *   |               ^^^^^^^^^^^^^^^^^^
 *   '
 *   src\assets\scss\common\esfonticon\_style.scss 5:15  @use
 *   src\assets\scss\contents\main.scss 9:1              @forward
 *   src\assets\scss\contents.scss 2:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ron46o') format('truetype'),\d\a   \2502                ^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\assets\\scss\\common\\esfonticon\\_style.scss 5:15  @use\a   src\\assets\\scss\\contents\\main.scss 9:1              @forward\a   src\\assets\\scss\\contents.scss 2:1                   root stylesheet";
}
