.lg-outer {
    .lg-thumb-outer {
        transform: unset;
    }
}

.reply-comment {
    display: unset;
}

.review-wrap .review-inner .single-review {
    display: unset;
    flex-direction: unset;
}

.review-inner>.single-review {
    border: unset;
    padding: unset;
    margin-bottom: unset;
}

.review-wrap .review-inner .single-review .single-review-head {
    margin-bottom: unset;
    display: unset;
}

.review-area {
    padding-bottom: unset;
    margin-top: unset;
    border-top: unset;
}

.reviewer-info {
    width: unset;
}

.reviewer-head {
    display: unset;
    justify-content: unset;
    align-items: unset;
}

.reviewer-name {
    font-size: unset;
    line-height: unset;
    margin-bottom: unset;
    font-weight: unset;
}

.reviewer-comment {
    margin-top: unset;
}

.reply-btn {
    display: unset;
    line-height: unset;
    margin-top: unset;
    text-transform: unset;
    padding: unset;
}

.single-review.second-comment {
    border-right: unset;
    margin-inline-start: unset;
    padding-inline-start: unset;
}

.single-review.third-comment {
    border-right: unset;
    margin-inline-start: unset;
    padding-inline-start: unset;
}

.single-review.Fourth-comment {
    border-right: unset;
    margin-inline-start: unset;
    padding-inline-start: unset;
}

.single-review.Fifth-comment {
    border-right: unset;
    margin-inline-start: unset;
    padding-inline-start: unset;
}

.single-review.Sixth-comment {
    border-right: unset;
    margin-inline-start: unset;
    padding-inline-start: unset;
}

.single-input textarea {
    margin-bottom: unset;
}

.submit-button {
    background: unset;
    border: unset;
    color: unset;
    font-size: unset;
    font-weight: unset;
    height: unset;
    text-transform: unset;
    width: unset;
    -webkit-appearance: unset;
    cursor: unset;
}

.es-msg-form-error {
    background: unset;
    border: unset;
    padding: unset;
    margin-block: unset;
}

.es-msg-form-success {
    background: unset;
    border: unset;
    padding: unset;
    margin-block: unset;
}

.es-msg-form-error ul,
.es-msg-form-success ul {
    margin: unset;
    list-style-position: unset;
}

.es-msg-form-error ul li,
.es-msg-form-success ul li {
    color: unset;
    margin-bottom: unset;
}

.es-msg-form-success ul li {
    color: unset;
}

.es-msg-hidden {
    display: unset;
}

input[type=email],
input[type=password],
input[type=text],
input[type=textbox] {
    /*! background:#fff none repeat scroll 0 0; */
    /*! border:1px solid #e6e6e6; */
    /*! -webkit-box-shadow:none; */
    /*! box-shadow:none; */
    /*! color:#7c8c99; */
    padding: 12px;
    margin: unset;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=textbox]:focus,
textarea:focus {
    border-color: unset;
}

textarea {
    background: unset;
    border: unset;
    color: unset;
    height: unset;
    padding: unset;
    width: unset;
}

.single-input {
    width: unset;
}


label {
    display: unset !important;
}

button {
    border-radius: unset;
}

button,
input,
optgroup,
select,
textarea {
    /*! margin:0 !important; */
    /*! font-family:inherit !important; */
    /*! font-size:inherit !important; */
    line-height: unset;
}

button,
input {
    /*! overflow:visible !important */
}

button,
select {
    text-transform: unset !important;
}

select {
    padding: unset !important;
    border: unset !important;
    border-radius: unset !important;
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    -ms-border-radius: unset !important;
    -o-border-radius: unset !important;
}

.inputbox,
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=textbox],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    /*! height: auto !important; */
    /*! border: 1px solid #e6e6e6 !important; */
    /*! -webkit-box-shadow: none !important; */
    /*! box-shadow: none !important; */
    /*! color: #7c8c99 !important; */
    /*! border-radius: 0px !important; */
}

.inputbox:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=textbox]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border-color: unset !important;
    outline: unset !important;
    box-shadow: unset !important;
}

.inputbox::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=datetime-local]::-moz-placeholder,
input[type=datetime]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=textbox]::-moz-placeholder,
input[type=time]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=week]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
    /*! color: #6c757d !important; */
    /*! opacity: 1 !important; */
}

.inputbox::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=datetime-local]::-moz-placeholder,
input[type=datetime]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=textbox]::-moz-placeholder,
input[type=time]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=week]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
    /*! color: #6c757d !important; */
    /*! opacity: 1 !important; */
}

.inputbox::placeholder,
input[type=color]::placeholder,
input[type=date]::placeholder,
input[type=datetime-local]::placeholder,
input[type=datetime]::placeholder,
input[type=email]::placeholder,
input[type=month]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=textbox]::placeholder,
input[type=time]::placeholder,
input[type=url]::placeholder,
input[type=week]::placeholder,
select::placeholder,
textarea::placeholder {
    /*! color: #6c757d !important; */
    /*! opacity: 1 !important; */
}

.header-search-form input[type=text]:focus {
    border: unset !important;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: unset;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: unset;
    border-style: unset;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: unset;
    padding: unset;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: unset;
}

textarea {
    overflow: unset;
    resize: unset;
}

fieldset {
    min-width: unset !important;
    padding: unset !important;
    margin: unset !important;
    border: unset !important;
}

legend {
    display: unset;
    width: unset;
    max-width: unset;
    padding: unset;
    margin-bottom: unset;
    font-size: unset;
    line-height: unset;
    color: unset;
    white-space: unset;
}

progress {
    vertical-align: unset;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: unset;
}

[type=search] {
    outline-offset: unset;
    -webkit-appearance: unset;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: unset;
}

::-webkit-file-upload-button {
    font: unset;
    -webkit-appearance: unset;
}

output {
    display: unset;
}

summary {
    display: unset;
    cursor: unset;
}

template {
    display: unset;
}
