@use 'variables' as *;
@use 'colors' as *;

@mixin iconButton {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;

    &:hover,
    &.active {
        background: $blue-gray-600;
        box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
        color: #FFFFFF;
    }

    &.disabled {
        background: $blue-gray-300;
    }
}

@mixin sideBox {
    background: #FFFFFF;
    border: 1px solid $gray-200;
    border-radius: $radius-default;
}

@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin afterOverlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin lineClamp($line) {
    display: -webkit-box !important;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}