@use "sass:map";
@use '../../common/base/globals' as *;

.esprit-article {

    &__metadata {}
    &__metadata-item {
        display: flex;
        align-items: center;
        gap: $spacing-1;

        &-label {
            font-size: map.get($text-sizes, 14);
            font-weight: $text-medium;
            color: $gray-700;
        }

        &-value {
            padding-inline-start: $spacing-1;
            font-size: map.get($text-sizes, 14);
            font-weight: $text-regular;
            color: $gray-700;
        }
    }
}