@use "sass:map";
@use '../../common/base/globals' as *;

.esprit-article {
    &__tags {
        display: flex;
        align-items: center;
        gap: $spacing-1;
        flex-wrap: wrap;
    }

    &__tag-item {
        font-size: map.get($text-sizes, 14);
        font-weight: $text-regular;
        color: #000;
        padding-top: $spacing-1;
        padding-bottom: $spacing-1;
        padding-inline-end: $spacing-1;
        padding-inline-start: 14 + $spacing-1;
        background: $blue-gray-100;
        border-radius: $radius-default;
        position: relative;
        display: flex;
        align-items: center;
        transition: $transition;

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $gray-25;
            border: 1px solid $gray-300;
            position: absolute;
            top: 50%;
            inset-inline-start: $spacing-1;
            transform: translateY(-50%);
        }

        &:hover {
            background: $blue-gray-600;
            color: #ffffff;
        }
    }
}