@use "sass:map";
@use '../../common/base/globals' as *;

.esprit-article {

    &__news-list {
        padding: 0 $spacing-4;
    }

    &__section-title {
        margin-bottom: $spacing-2;
    }

    &__section-subtitle {
        margin-top: $spacing-4;
        margin-bottom: $spacing-4;
    }

    &__news-link {}

    &__news-content {
        display: flex;
        align-items: center;
        gap: $spacing-2;

        @include respond-to(sm) {
            gap: $spacing-1;
        }
    }

    &__news-image-wrapper {
        width: 180px;
        aspect-ratio: 180/120;
        border-radius: $radius-default;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        @include respond-to(md) {
            width: 160px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respond-to(sm) {
            width: 90px;
            height: auto;
            aspect-ratio: 180 / 140;

            img {
                display: block;
            }

            .esprit-article__news-icon {
                background: none;
                border: none;
                color: #fff;
            }
        }

        &.hide-on-mobile {

            @include respond-to(sm) {
                width: 36px;
                height: 36px;

                .esprit-article__news-icon {
                    @include respond-to(sm) {
                        width: 36px;
                        height: 36px;
                        background: $blue-gray-50;
                        color: $blue-gray-600;
                        border-radius: $radius-default;
                    }
                }
            }

            img {
                @include respond-to(sm) {
                    display: none;
                }


            }
        }
    }

    &__news-icon {
        @include positionCenter;

        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1.5px solid #ffffff;
        background: rgba(65, 70, 81, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #ffffff;
    }

    &__news-short-title {
        color: $error-700;
        font-size: map.get($text-sizes, 12);
        font-weight: $text-regular;
    }

    &__news-headline {
        @include lineClamp(2);
        font-size: map.get($text-sizes, 16);
        font-weight: $text-medium;
        color: $blue-gray-700;
        margin: 0;

        @include respond-to(sm) {
            font-size: map.get($text-sizes, 14);
        }
    }

    &__news-description {
        @include lineClamp(2);
        font-size: map.get($text-sizes, 14);
        font-weight: $text-regular;
        color: $blue-gray-600;
        margin: 0;

        @include respond-to(sm) {
            display: none !important;
        }
    }

    &__news-date {
        font-size: map.get($text-sizes, 12);
        font-weight: $text-regular;
        color: $blue-gray-600;
        margin-top: $spacing-1;
    }

    &__news-item {
        * {
            transition: $transition;
        }

        &:not(:last-child) {
            margin-bottom: $spacing-2;
        }

        &:hover {
            .esprit-article__news-headline {
                color: $link-hover-color;
            }

            .esprit-article__news-description {
                color: $link-hover-color;
            }
        }

    }
}