 @use "sass:map";
 @use '../base/globals' as *;


 @mixin sectionTitle($size, $color) {
   color: $color;
   font-size: map.get($text-sizes, 16);
   font-weight: $text-bold;
   position: relative;
   padding-inline-start: #{$size + 8}px;
   margin: 0;

   &::after {
     content: "";
     width:#{$size}px;
     height: 1px;
     background: $color;
     border-end-end-radius: 10px;
     border-start-end-radius: 10px;
     position: absolute;
     top: 50%;
     inset-inline-start: 0;
     transform: translateY(-50%);
   }
 }

 .esprit-article {

   &__section {
     background: $blue-gray-100;
     border-radius: $radius-default;
     padding: 24px 0;
     margin-bottom: 24px;
   }

   &__section-title {
     @include sectionTitle($size: 16, $color: $blue-gray-700);
   }

   &__section-subtitle {
     @include sectionTitle($size: 32, $color: $gray-700);
   }

   &__section-divider {
     height: 1px;
     width: 100%;
     background: $gray-300;
     margin: $spacing-4 0;
   }
 }