$icomoon-font-family: "esfonticon" !default;
$icomoon-font-path: "/assets/fonts" !default;

$esprit-AngelList: "\e900";
$esprit-Apple: "\e901";
$esprit-Clubhouse: "\e902";
$esprit-Discord: "\e903";
$esprit-Dribbble: "\e904";
$esprit-Facebook: "\e905";
$esprit-Figma: "\e906";
$esprit-GitHub: "\e907";
$esprit-Google: "\e908";
$esprit-Instagram: "\e909";
$esprit-Layers-path1: "\e90a";
$esprit-Layers-path2: "\e90b";
$esprit-Layers-path3: "\e90c";
$esprit-LinkedIn: "\e90d";
$esprit-Pinterest: "\e90e";
$esprit-Reddit: "\e90f";
$esprit-Signal: "\e910";
$esprit-Snapchat: "\e911";
$esprit-Telegram: "\e912";
$esprit-TikTok: "\e913";
$esprit-Tumblr: "\e914";
$esprit-X-Twitter: "\e915";
$esprit-YouTube: "\e916";
$esprit-ai-portal: "\e917";
$esprit-aparat: "\e918";
$esprit-bale: "\e919";
$esprit-bisphon: "\e91a";
$esprit-eita: "\e91b";
$esprit-facebook: "\e91c";
$esprit-fi-rr-add: "\e91d";
$esprit-fi-rr-address-book: "\e91e";
$esprit-fi-rr-alarm-clock: "\e91f";
$esprit-fi-rr-angle-double-left: "\e920";
$esprit-fi-rr-angle-double-right: "\e921";
$esprit-fi-rr-angle-double-small-left: "\e922";
$esprit-fi-rr-angle-double-small-right: "\e923";
$esprit-fi-rr-angle-down: "\e924";
$esprit-fi-rr-angle-left: "\e925";
$esprit-fi-rr-angle-right: "\e926";
$esprit-fi-rr-angle-small-down: "\e927";
$esprit-fi-rr-angle-small-left: "\e928";
$esprit-fi-rr-angle-small-right: "\e929";
$esprit-fi-rr-angle-small-up: "\e92a";
$esprit-fi-rr-angle-up: "\e92b";
$esprit-fi-rr-apps: "\e92c";
$esprit-fi-rr-apps-add: "\e92d";
$esprit-fi-rr-apps-delete: "\e92e";
$esprit-fi-rr-apps-sort: "\e92f";
$esprit-fi-rr-archive: "\e930";
$esprit-fi-rr-arrow-down: "\e931";
$esprit-fi-rr-arrow-from-bottom: "\e932";
$esprit-fi-rr-arrow-left: "\e933";
$esprit-fi-rr-arrow-right: "\e934";
$esprit-fi-rr-arrow-small-down: "\e935";
$esprit-fi-rr-arrow-small-left: "\e936";
$esprit-fi-rr-arrow-small-right: "\e937";
$esprit-fi-rr-arrow-small-up: "\e938";
$esprit-fi-rr-arrow-up: "\e939";
$esprit-fi-rr-asterik: "\e93a";
$esprit-fi-rr-at: "\e93b";
$esprit-fi-rr-ban: "\e93c";
$esprit-fi-rr-bell: "\e93d";
$esprit-fi-rr-bell-ring: "\e93e";
$esprit-fi-rr-bell-school: "\e93f";
$esprit-fi-rr-book: "\e940";
$esprit-fi-rr-book-alt: "\e941";
$esprit-fi-rr-bookmark: "\e942";
$esprit-fi-rr-box: "\e943";
$esprit-fi-rr-box-alt: "\e944";
$esprit-fi-rr-bread-slice: "\e945";
$esprit-fi-rr-briefcase: "\e946";
$esprit-fi-rr-broom: "\e947";
$esprit-fi-rr-browser: "\e948";
$esprit-fi-rr-brush: "\e949";
$esprit-fi-rr-building: "\e94a";
$esprit-fi-rr-bulb: "\e94b";
$esprit-fi-rr-calculator: "\e94c";
$esprit-fi-rr-calendar: "\e94d";
$esprit-fi-rr-call-history: "\e94e";
$esprit-fi-rr-call-incoming: "\e94f";
$esprit-fi-rr-call-missed: "\e950";
$esprit-fi-rr-call-outgoing: "\e951";
$esprit-fi-rr-camera: "\e952";
$esprit-fi-rr-camping: "\e953";
$esprit-fi-rr-caret-down: "\e954";
$esprit-fi-rr-caret-left: "\e955";
$esprit-fi-rr-caret-right: "\e956";
$esprit-fi-rr-caret-up: "\e957";
$esprit-fi-rr-chart-connected: "\e958";
$esprit-fi-rr-chart-histogram: "\e959";
$esprit-fi-rr-chart-network: "\e95a";
$esprit-fi-rr-chart-pie: "\e95b";
$esprit-fi-rr-chart-pie-alt: "\e95c";
$esprit-fi-rr-chart-set-theory: "\e95d";
$esprit-fi-rr-chart-tree: "\e95e";
$esprit-fi-rr-chat-arrow-down: "\e95f";
$esprit-fi-rr-chat-arrow-grow: "\e960";
$esprit-fi-rr-check: "\e961";
$esprit-fi-rr-checkbox: "\e962";
$esprit-fi-rr-clip: "\e963";
$esprit-fi-rr-clock: "\e964";
$esprit-fi-rr-cloud: "\e965";
$esprit-fi-rr-cloud-check: "\e966";
$esprit-fi-rr-cloud-disabled: "\e967";
$esprit-fi-rr-cloud-download: "\e968";
$esprit-fi-rr-clouds: "\e969";
$esprit-fi-rr-cloud-share: "\e96a";
$esprit-fi-rr-cloud-upload: "\e96b";
$esprit-fi-rr-comment: "\e96c";
$esprit-fi-rr-comment-alt: "\e96d";
$esprit-fi-rr-comment-check: "\e96e";
$esprit-fi-rr-comment-heart: "\e96f";
$esprit-fi-rr-comment-info: "\e970";
$esprit-fi-rr-comments: "\e971";
$esprit-fi-rr-comment-user: "\e972";
$esprit-fi-rr-compress: "\e973";
$esprit-fi-rr-compress-alt: "\e974";
$esprit-fi-rr-computer: "\e975";
$esprit-fi-rr-confetti: "\e976";
$esprit-fi-rr-copy: "\e977";
$esprit-fi-rr-copy-alt: "\e978";
$esprit-fi-rr-copyright: "\e979";
$esprit-fi-rr-credit-card: "\e97a";
$esprit-fi-rr-cross: "\e97b";
$esprit-fi-rr-cross-circle: "\e97c";
$esprit-fi-rr-cross-small: "\e97d";
$esprit-fi-rr-cube: "\e97e";
$esprit-fi-rr-cursor: "\e97f";
$esprit-fi-rr-cursor-finger: "\e980";
$esprit-fi-rr-cursor-plus: "\e981";
$esprit-fi-rr-cursor-text: "\e982";
$esprit-fi-rr-cursor-text-alt: "\e983";
$esprit-fi-rr-dart: "\e984";
$esprit-fi-rr-dashboard: "\e985";
$esprit-fi-rr-database: "\e986";
$esprit-fi-rr-data-transfer: "\e987";
$esprit-fi-rr-delete: "\e988";
$esprit-fi-rr-diploma: "\e989";
$esprit-fi-rr-disco-ball: "\e98a";
$esprit-fi-rr-disk: "\e98b";
$esprit-fi-rr-doctor: "\e98c";
$esprit-fi-rr-document: "\e98d";
$esprit-fi-rr-document-pdf: "\e98e";
$esprit-fi-rr-document-signed: "\e98f";
$esprit-fi-rr-download: "\e990";
$esprit-fi-rr-duplicate: "\e991";
$esprit-fi-rr-earnings: "\e992";
$esprit-fi-rr-edit: "\e993";
$esprit-fi-rr-edit-alt: "\e994";
$esprit-fi-rr-e-learning: "\e995";
$esprit-fi-rr-envelope: "\e996";
$esprit-fi-rr-envelope-ban: "\e997";
$esprit-fi-rr-envelope-download: "\e998";
$esprit-fi-rr-envelope-marker: "\e999";
$esprit-fi-rr-envelope-open: "\e99a";
$esprit-fi-rr-envelope-plus: "\e99b";
$esprit-fi-rr-exclamation: "\e99c";
$esprit-fi-rr-expand: "\e99d";
$esprit-fi-rr-eye: "\e99e";
$esprit-fi-rr-eye-crossed: "\e99f";
$esprit-fi-rr-eye-dropper: "\e9a0";
$esprit-fi-rr-ferris-wheel: "\e9a1";
$esprit-fi-rr-file: "\e9a2";
$esprit-fi-rr-file-add: "\e9a3";
$esprit-fi-rr-file-check: "\e9a4";
$esprit-fi-rr-file-delete: "\e9a5";
$esprit-fi-rr-file-music: "\e9a6";
$esprit-fi-rr-fill: "\e9a7";
$esprit-fi-rr-film: "\e9a8";
$esprit-fi-rr-filter: "\e9a9";
$esprit-fi-rr-fingerprint: "\e9aa";
$esprit-fi-rr-flag: "\e9ab";
$esprit-fi-rr-flame: "\e9ac";
$esprit-fi-rr-flip-horizontal: "\e9ad";
$esprit-fi-rr-flower: "\e9ae";
$esprit-fi-rr-folder: "\e9af";
$esprit-fi-rr-folder-add: "\e9b0";
$esprit-fi-rr-following: "\e9b1";
$esprit-fi-rr-form: "\e9b2";
$esprit-fi-rr-forward: "\e9b3";
$esprit-fi-rr-gallery: "\e9b4";
$esprit-fi-rr-gem: "\e9b5";
$esprit-fi-rr-gift: "\e9b6";
$esprit-fi-rr-glasses: "\e9b7";
$esprit-fi-rr-globe: "\e9b8";
$esprit-fi-rr-globe-alt: "\e9b9";
$esprit-fi-rr-graduation-cap: "\e9ba";
$esprit-fi-rr-hand-holding-heart: "\e9bb";
$esprit-fi-rr-hastag: "\e9bc";
$esprit-fi-rr-hat-birthday: "\e9bd";
$esprit-fi-rr-headphones: "\e9be";
$esprit-fi-rr-headset: "\e9bf";
$esprit-fi-rr-head-side-thinking: "\e9c0";
$esprit-fi-rr-heart: "\e9c1";
$esprit-fi-rr-heart-arrow: "\e9c2";
$esprit-fi-rr-home: "\e9c3";
$esprit-fi-rr-home-location: "\e9c4";
$esprit-fi-rr-home-location-alt: "\e9c5";
$esprit-fi-rr-hourglass: "\e9c6";
$esprit-fi-rr-hourglass-end: "\e9c7";
$esprit-fi-rr-id-badge: "\e9c8";
$esprit-fi-rr-inbox: "\e9c9";
$esprit-fi-rr-incognito: "\e9ca";
$esprit-fi-rr-info: "\e9cb";
$esprit-fi-rr-interactive: "\e9cc";
$esprit-fi-rr-interrogation: "\e9cd";
$esprit-fi-rr-key: "\e9ce";
$esprit-fi-rr-keyboard: "\e9cf";
$esprit-fi-rr-layers: "\e9d0";
$esprit-fi-rr-layout-fluid: "\e9d1";
$esprit-fi-rr-line-width: "\e9d2";
$esprit-fi-rr-link: "\e9d3";
$esprit-fi-rr-location-alt: "\e9d4";
$esprit-fi-rr-lock: "\e9d5";
$esprit-fi-rr-lock-alt: "\e9d6";
$esprit-fi-rr-luggage-rolling: "\e9d7";
$esprit-fi-rr-magic-wand: "\e9d8";
$esprit-fi-rr-makeup-brush: "\e9d9";
$esprit-fi-rr-man-head: "\e9da";
$esprit-fi-rr-map: "\e9db";
$esprit-fi-rr-map-marker: "\e9dc";
$esprit-fi-rr-map-marker-cross: "\e9dd";
$esprit-fi-rr-map-marker-home: "\e9de";
$esprit-fi-rr-map-marker-minus: "\e9df";
$esprit-fi-rr-map-marker-plus: "\e9e0";
$esprit-fi-rr-marker: "\e9e1";
$esprit-fi-rr-marker-time: "\e9e2";
$esprit-fi-rr-menu-burger: "\e9e3";
$esprit-fi-rr-menu-dots: "\e9e4";
$esprit-fi-rr-menu-dots-vertical: "\e9e5";
$esprit-fi-rr-microphone: "\e9e6";
$esprit-fi-rr-minus: "\e9e7";
$esprit-fi-rr-minus-small: "\e9e8";
$esprit-fi-rr-mobile: "\e9e9";
$esprit-fi-rr-mode-landscape: "\e9ea";
$esprit-fi-rr-mode-portrait: "\e9eb";
$esprit-fi-rr-money: "\e9ec";
$esprit-fi-rr-moon: "\e9ed";
$esprit-fi-rr-mountains: "\e9ee";
$esprit-fi-rr-mouse: "\e9ef";
$esprit-fi-rr-mug-alt: "\e9f0";
$esprit-fi-rr-music: "\e9f1";
$esprit-fi-rr-music-alt: "\e9f2";
$esprit-fi-rr-navigation: "\e9f3";
$esprit-fi-rr-network: "\e9f4";
$esprit-fi-rr-network-cloud: "\e9f5";
$esprit-fi-rr-notebook: "\e9f6";
$esprit-fi-rr-opacity: "\e9f7";
$esprit-fi-rr-package: "\e9f8";
$esprit-fi-rr-paint-brush: "\e9f9";
$esprit-fi-rr-palette: "\e9fa";
$esprit-fi-rr-pause: "\e9fb";
$esprit-fi-rr-pencil: "\e9fc";
$esprit-fi-rr-pharmacy: "\e9fd";
$esprit-fi-rr-phone-call: "\e9fe";
$esprit-fi-rr-phone-cross: "\e9ff";
$esprit-fi-rr-phone-pause: "\ea00";
$esprit-fi-rr-phone-slash: "\ea01";
$esprit-fi-rr-physics: "\ea02";
$esprit-fi-rr-picture: "\ea03";
$esprit-fi-rr-play: "\ea04";
$esprit-fi-rr-play-alt: "\ea05";
$esprit-fi-rr-plus: "\ea06";
$esprit-fi-rr-plus-small: "\ea07";
$esprit-fi-rr-portrait: "\ea08";
$esprit-fi-rr-power: "\ea09";
$esprit-fi-rr-presentation: "\ea0a";
$esprit-fi-rr-print: "\ea0b";
$esprit-fi-rr-pulse: "\ea0c";
$esprit-fi-rr-pyramid: "\ea0d";
$esprit-fi-rr-quote-right: "\ea0e";
$esprit-fi-rr-rainbow: "\ea0f";
$esprit-fi-rr-raindrops: "\ea10";
$esprit-fi-rr-rec: "\ea11";
$esprit-fi-rr-receipt: "\ea12";
$esprit-fi-rr-record-vinyl: "\ea13";
$esprit-fi-rr-rectabgle-vertical: "\ea14";
$esprit-fi-rr-rectangle-horizontal: "\ea15";
$esprit-fi-rr-rectangle-panoramic: "\ea16";
$esprit-fi-rr-recycle: "\ea17";
$esprit-fi-rr-redo: "\ea18";
$esprit-fi-rr-redo-alt: "\ea19";
$esprit-fi-rr-reflect: "\ea1a";
$esprit-fi-rr-refresh: "\ea1b";
$esprit-fi-rr-resize: "\ea1c";
$esprit-fi-rr-resources: "\ea1d";
$esprit-fi-rr-rewind: "\ea1e";
$esprit-fi-rr-rhombus: "\ea1f";
$esprit-fi-rr-road: "\ea20";
$esprit-fi-rr-rotate-right: "\ea21";
$esprit-fi-rr-sad: "\ea22";
$esprit-fi-rr-scale: "\ea23";
$esprit-fi-rr-scissors: "\ea24";
$esprit-fi-rr-screen: "\ea25";
$esprit-fi-rr-search: "\ea26";
$esprit-fi-rr-search-alt: "\ea27";
$esprit-fi-rr-search-heart: "\ea28";
$esprit-fi-rr-settings: "\ea29";
$esprit-fi-rr-settings-sliders: "\ea2a";
$esprit-fi-rr-share: "\ea2b";
$esprit-fi-rr-shield: "\ea2c";
$esprit-fi-rr-shield-check: "\ea2d";
$esprit-fi-rr-shield-exclamation: "\ea2e";
$esprit-fi-rr-shield-interrogation: "\ea2f";
$esprit-fi-rr-shield-plus: "\ea30";
$esprit-fi-rr-shuffle: "\ea31";
$esprit-fi-rr-signal-alt: "\ea32";
$esprit-fi-rr-signal-alt-1: "\ea33";
$esprit-fi-rr-signal-alt-2: "\ea34";
$esprit-fi-rr-sign-in: "\ea35";
$esprit-fi-rr-sign-in-alt: "\ea36";
$esprit-fi-rr-sign-out: "\ea37";
$esprit-fi-rr-sign-out-alt: "\ea38";
$esprit-fi-rr-skateboard: "\ea39";
$esprit-fi-rr-smartphone: "\ea3a";
$esprit-fi-rr-smile: "\ea3b";
$esprit-fi-rr-smile-wink: "\ea3c";
$esprit-fi-rr-snowflake: "\ea3d";
$esprit-fi-rr-speaker: "\ea3e";
$esprit-fi-rr-star: "\ea3f";
$esprit-fi-rr-stats: "\ea40";
$esprit-fi-rr-stethoscope: "\ea41";
$esprit-fi-rr-sticker: "\ea42";
$esprit-fi-rr-stopwatch: "\ea43";
$esprit-fi-rr-subtitles: "\ea44";
$esprit-fi-rr-sun: "\ea45";
$esprit-fi-rr-sunrise: "\ea46";
$esprit-fi-rr-text: "\ea47";
$esprit-fi-rr-text-height: "\ea48";
$esprit-fi-rr-text-size: "\ea49";
$esprit-fi-rr-text-width: "\ea4a";
$esprit-fi-rr-thermometer-half: "\ea4b";
$esprit-fi-rr-thumbs-down: "\ea4c";
$esprit-fi-rr-thumbs-up: "\ea4d";
$esprit-fi-rr-thumbtack: "\ea4e";
$esprit-fi-rr-ticket: "\ea4f";
$esprit-fi-rr-time-add: "\ea50";
$esprit-fi-rr-time-check: "\ea51";
$esprit-fi-rr-time-delete: "\ea52";
$esprit-fi-rr-time-fast: "\ea53";
$esprit-fi-rr-time-forward: "\ea54";
$esprit-fi-rr-time-forward-sixty: "\ea55";
$esprit-fi-rr-time-forward-ten: "\ea56";
$esprit-fi-rr-time-half-past: "\ea57";
$esprit-fi-rr-time-oclock: "\ea58";
$esprit-fi-rr-time-past: "\ea59";
$esprit-fi-rr-time-quarter-past: "\ea5a";
$esprit-fi-rr-time-quarter-to: "\ea5b";
$esprit-fi-rr-time-twenty-four: "\ea5c";
$esprit-fi-rr-tool-crop: "\ea5d";
$esprit-fi-rr-tool-marquee: "\ea5e";
$esprit-fi-rr-transform: "\ea5f";
$esprit-fi-rr-trash: "\ea60";
$esprit-fi-rr-treatment: "\ea61";
$esprit-fi-rr-underline: "\ea62";
$esprit-fi-rr-undo: "\ea63";
$esprit-fi-rr-undo-alt: "\ea64";
$esprit-fi-rr-unlock: "\ea65";
$esprit-fi-rr-upload: "\ea66";
$esprit-fi-rr-user: "\ea67";
$esprit-fi-rr-user-add: "\ea68";
$esprit-fi-rr-user-delete: "\ea69";
$esprit-fi-rr-user-remove: "\ea6a";
$esprit-fi-rr-user-time: "\ea6b";
$esprit-fi-rr-video-camera: "\ea6c";
$esprit-fi-rr-volume: "\ea6d";
$esprit-fi-rr-wheelchair: "\ea6e";
$esprit-fi-rr-world: "\ea6f";
$esprit-fi-rr-zoom-in: "\ea70";
$esprit-fi-rr-zoom-out: "\ea71";
$esprit-gap: "\ea72";
$esprit-instagram-2: "\ea73";
$esprit-linkedin: "\ea74";
$esprit-messages: "\ea75";
$esprit-plyr-airplay: "\ea76";
$esprit-plyr-captions-off: "\ea77";
$esprit-plyr-captions-on: "\ea78";
$esprit-plyr-download: "\ea79";
$esprit-plyr-enter-fullscreen: "\ea7a";
$esprit-plyr-exit-fullscreen: "\ea7b";
$esprit-plyr-fast-forward: "\ea7c";
$esprit-plyr-logo-vimeo: "\ea7d";
$esprit-plyr-logo-youtube: "\ea7e";
$esprit-plyr-muted: "\ea7f";
$esprit-plyr-pause: "\ea80";
$esprit-plyr-pip: "\ea81";
$esprit-plyr-play: "\ea82";
$esprit-plyr-restart: "\ea83";
$esprit-plyr-rewind: "\ea84";
$esprit-plyr-settings: "\ea85";
$esprit-plyr-volume: "\ea86";
$esprit-Social-Icons: "\ea87";
$esprit-soroush: "\ea88";
$esprit-telegram: "\ea89";
$esprit-twitter: "\ea8a";
$esprit-whatsapp: "\ea8b";

